# Sensitive config
config.php

# Uploads
uploads/products/
uploads/*.jpg
uploads/*.png

# Local or temporary files
imp/*.txt
index2.html
warehouse_db.sql

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp files
*.tmp
*.cache